.account {
  display: block;
  min-width: 139px;
}

.account .connectBtn {
  width: 100%;
  background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
  border-radius: 8px;
  padding: var(--padding-narrow);
  font-weight: 500;
  font-size: 20px;
  color: var(--color-white);
  outline: none;
}

.info {
  width: 100%;
  background: var(--color-white);
  border-radius: 11px;
  border: 1.29306px solid #D3D3D3;
  padding: var(--padding-narrow);
  font-weight: 500;
  font-size: 20px;
  color: var(--color-gray);
  outline: none;
}

.info a {
  display: flex;
}

.info img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.info p {
  padding: 0 8px;
  font-size: var(--font-size-small);
  font-weight: bold;
}

.info span {
  color: var(--color-gray);
  font-weight: normal;
}

.tooltip {
  padding: 16px 20px;
  z-index: 9000;
}

.tooltip .address {
  font-size: 20px;
  line-height: 133%;
  font-weight: bold;
}

.tooltip .address span:first-child{
  color: #7818F9;
  font-weight: bold;
}

.tooltip .disconnect {
  text-align: center;
  margin-top: 7px;
}

.tooltip .disconnect button {
  background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
  width: 171.57px;
  height: 45.14px;
  border-radius: 11px;
  color: white;
  font-size: 20px;
  line-height: 133%;
  font-weight: bold;
  margin-left: auto;
  cursor: pointer;
}